version: '3.8'

name: hourglass-local
services:
  executor:
    image: public.ecr.aws/z6g0f8n7/eigenlayer-hourglass:v1.0.0-rc.5_4a2e86b
    network_mode: "host"
    command:
      - "executor"
      - "run"
      - "--config"
      - "/ponos-config/executor.yaml"
      - "--performer-network-name"
      - "host"
    volumes:
      - ./config:/ponos-config
      - /var/run/docker.sock:/var/run/docker.sock
  aggregator:
    image: public.ecr.aws/z6g0f8n7/eigenlayer-hourglass:v1.0.0-rc.5_4a2e86b
    network_mode: "host"
    command:
      - "aggregator"
      - "run"
      - "--config"
      - "/ponos-config/aggregator.yaml"
    volumes:
      - ./config:/ponos-config
