[submodule ".devkit/contracts/lib/forge-std"]
	path = .devkit/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule ".devkit/contracts/lib/eigenlayer-middleware"]
	path = .devkit/contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
	branch = dev
