version: '3.8'

name: hourglass-local

networks:
  hourglass-network:
    driver: bridge
    name: hourglass-local_hourglass-network

services:
  executor:
    image: public.ecr.aws/z6g0f8n7/eigenlayer-hourglass:v1.0.0-rc.5_4a2e86b
    networks:
      - hourglass-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - "executor"
      - "run"
      - "--config"
      - "/ponos-config/executor.yaml"
    volumes:
      - ./config:/ponos-config
      - /var/run/docker.sock:/var/run/docker.sock
  
  aggregator:
    image: public.ecr.aws/z6g0f8n7/eigenlayer-hourglass:v1.0.0-rc.5_4a2e86b
    networks:
      - hourglass-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - "aggregator"
      - "run"
      - "--config"
      - "/ponos-config/aggregator.yaml"
    volumes:
      - ./config:/ponos-config